{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock %}

{% block body %}
    <h1>Liste des Factures</h1>

    <br/>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contract_id</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for billing in billings %}
            <tr>
                <td>{{ billing.id }}</td>
                <td>{{ billing.ContractId }}</td>
                <td>{{ billing.Amount }}</td>
                <td>
                    <a href="{{ path('app_billing_show', {'id': billing.id}) }}">Afficher</a>
                    <a href="{{ path('app_billing_edit', {'id': billing.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas de factures trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_billing_new') }}">Nouvelle Facture</a>
    <a href="{{ path('dashboard_index') }}">Retour au menu</a>
{% endblock %}
