{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>prénom</th>
                <th>adresse</th>
                <th>numéro permis</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer._id }}</td>
                <td>{{ customer.first_name }}</td>
                <td>{{ customer.second_name }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.permit_number }}</td>
                <td>
                  <a href="{{ path('customer_show', {'id': customer._id}) }}">Afficher</a>
                  <a href="{{ path('customer_edit', {'id': customer._id}) }}">Edition</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <a href="{{ path('customer_new') }}">Nouveau client</a>
    <a href="{{ path('dashboard_index') }}">Retour au menu</a>
{% endblock %}
