{% extends 'base.html.twig' %}

{% block title %}Recherche données{% endblock %}

{% block body %}
    <h1>Recherche dans la base données</h1>
    <br/>

    <a href="{{ path('dashboard_index') }}">Retour Menu Principal</a>
    <br/>

    <form method="post" action="{{ path('app_search_index') }}" >
        <button type="submit">Reinitialiser</button>
    </form>

    <br/>    
    <br/>

    <h2>Contrats en cours</h2>
    <form method="post" action="{{ path('app_search_index') }}" >
        <input type="hidden" name="current" value="show">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    <br/>

{% if currentContract is not null %}
    {% if currentContract is not empty %}
        <h3>Contrats :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in currentContract %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Pas de contrats trouvés</p>
    {% endif %}
  {% endif %}
    

    <br/>


    <h2>Contrats en retard</h2>
    <form method="post" action="{{ path('app_search_index') }}" >
        <input type="hidden" name="late" value="show">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    <br/>

{% if lateContracts is not null %}
    {% if lateContracts is not empty %}
        <h3>Contrats :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in lateContracts %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Pas de contrats trouvés</p>
    {% endif %}
  {% endif %}

    <br/>

    <h2>Retards moyens :</h2>
    <form method="post" action="{{ path('app_search_index') }}" >
        <input type="hidden" name="lateAverage" value="show">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    {% if latenessPerCustomer %}
        <h3>Nombre de retards moyen par client:</h3>
        <h4>{{ latenessPerCustomer }} retards moyen pour 1 client</h4>
    {% endif %}

    <br/>

    <h2>Nombre de retards entre deux dates :</h2>
    <form method="post" action="{{ path('app_search_index') }}" >
        <input type="date" name="beginDateLate">
        <input type="date" name="endDateLate">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    {% if latenessBetweenDates %}
        <h3>Nombre de retards :</h3>
        <h4>{{ latenessBetweenDates }} retards</h4>
    {% endif %}

    <br/>

    <h2>Temps de retards moyen par véhicules :</h2>
    <form method="post" action="{{ path('app_search_index') }}" >
        <input type="hidden" name="timeLateAverage" value="show">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>


    {% if indicesOfAverageLateness %}    
    <h3>Retards moyens :</h3>
      <table class="table">
        <thead>
          <tr>
            {% for data in indicesOfAverageLateness %}
              <th>Vehicle_uid : {{ data }}</th>    
            {% endfor %}
          </tr>
    {% endif %}
        </thead>
        <tbody>
        {% if averageLatenessPerVehicle %}
          {% for data in averageLatenessPerVehicle %}
            <td>{{ data }}</td>
          {% endfor %}
        {% endif %}
        </tbody>
      </table>

    <br/>

    <h2>Contrats impayés</h2>
    <form method="post" action="{{ path('app_search_index') }}" >
        <input type="hidden" name="unpayed" value="show">
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    
    <br/>

{% if unpayedContracts is not null %}
    {% if unpayedContracts is not empty %}
        <h3>Contrats :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in unpayedContracts %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Pas de contrats trouvés</p>
    {% endif %}
  {% endif %}


    <br/>

    <h2>Contrat par son ID</h2>
    <form method="post" action="{{ path('app_search_index') }}">
        <div class="form-group">
            <label for="contract_id">Rechercher un contrat à partir de son propre ID</label>
            <input type="text" id="contract_id" name="contract_id" class="form-control" pattern="[1-9][0-9]{0,10}" title="Veuillez entrer un ID valide : Chiffres uniquements"  required>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

{% if contractByContractId is not null %}
    {% if contractByContractId is not empty %}
        <h3>Contract by contract's ID</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in contractByContractId %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun contrats trouvés pour l'ID {{ app.request.get('contract_id') }}</p>
    {% endif %}
{% endif %}



    <br/>

    <h2>Facture par ID de contrat</h2>
    <form method="post" action="{{ path('app_search_index') }}">
        <div class="form-group">
            <label for="billing_id">Rechercher une facture à partir de l'ID d'un contrat</label>
            <input type="text" id="billing_id" name="billing_id" class="form-control" pattern="[1-9][0-9]{0,10}" title="Veuillez entrer un ID valide : Chiffres uniquements" required>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

{% if billingByContractId is not null %}
    {% if billingByContractId is not empty %}
        <h3>Bills by contract's ID</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Contract_id</th>
                    <th>amount</th>

                </tr>
            </thead>
            <tbody>
                {% for data in billingByContractId %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.ContractId }}</td>
                        <td>{{ data.amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Pas de facture pour l'ID {{ app.request.get('billing_id') }}</p>
    {% endif %}
{% endif %}

    <br/>

    <h2>Contrat par ID client</h2>
    <form method="post" action="{{ path('app_search_index') }}">
        <div class="form-group">
            <label for="customer_id">Rechercher un contrat à partir de l'ID d'un client</label>
            <input type="text" id="customer_id" name="customer_id" class="form-control" pattern="[1-9][0-9]{0,10}" title="Veuillez entrer un ID valide : Chiffres uniquements" required>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

  {% if contractByCustomerId is not null %}
    {% if contractByCustomerId is not empty %}
        <h3>Contracts :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>vehicle_uid</th>
                    <th>customer_uid</th>
                    <th>sign_datetime</th>
                    <th>locbegin_datetime</th>
                    <th>locend_datetime</th>
                    <th>returning_datetime</th>
                    <th>price</th>

                </tr>
            </thead>
            <tbody>
                {% for data in contractByCustomerId %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun contrats trouvés pour l'ID {{ app.request.get('customer_id') }}</p>
    {% endif %}
{% endif %}

    <br/>

    <h2>Contrat par ID véhicule</h2>

    <form method="post" action="{{ path('app_search_index') }}">
        <div class="form-group">
            <label for="vehicle_id">Rechercher un contrat à partir de l'ID d'un vehicule</label>
            <input type="text" id="vehicle_id" name="vehicle_id" class="form-control" pattern="[1-9][0-9]{0,10}" title="Veuillez entrer un ID valide : Chiffres uniquements" required>
        </div>
        <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

  {% if contractByVehicleId is not null %}
    {% if contractByVehicleId is not empty %}
        <h3>Contrats :</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>vehicle_uid</th>
                    <th>customer_uid</th>
                    <th>sign_datetime</th>
                    <th>locbegin_datetime</th>
                    <th>locend_datetime</th>
                    <th>returning_datetime</th>
                    <th>price</th>

                </tr>
            </thead>
            <tbody>
                {% for data in contractByVehicleId %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
       {% else %}
        <p>Aucun contrats trouvés pour l'ID {{ app.request.get('vehicle_id') }}</p>
    {% endif %}
{% endif %}

    <br/>

    <h2>Client par nom et prénom</h2>
    <form method="post" action="{{ path('app_search_index') }}">
      <div class="form-group">
      <label for="km_input">Rechercher un client à partir de son nom et de son prénom</label>
      <input style ="margin:7px 0px" type="text" id ="FirstName_input" name="FirstName_input" class="form-control" placeholder="Prénom" required>
      <input type="text" id ="LastName_input" name="LastName_input" class="form-control" placeholder="Nom" required>
      </div>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>
    {% if customerByNames is not null %}
      {% if customerByNames is not empty %}
        <h3>Client trouvé :</h3>
        <table class="table">
            <thead>
                <tr>
                  <th>id</th>
                  <th>nom</th>
                  <th>prénom</th>
                  <th>adresse</th>
                  <th>numéro permis</th>
                </tr>
            </thead>
            <tbody>
                {% for data in customerByNames %}
                    <tr>
                      <td>{{ data._id }}</td>
                      <td>{{ data.first_name }}</td>
                      <td>{{ data.second_name }}</td>
                      <td>{{ data.address }}</td>
                      <td>{{ data.permit_number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Aucun client trouvé</p>
    {% endif %}
  {% endif %}

    <br/>

    <h2>Véhicules par immatriculation</h2>
    <form method="post" action="{{ path('app_search_index') }}">
      <div class="form-group">
      <label for="km_input">Rechercher un véhicule à partir de son immatriculation</label>
      <input type="text" id ="immat_input" name="immat_input" class="form-control" pattern="[A-Za-z]{3}-[0-9]{3}-[A-Za-z]{3}" title="Veuillez entrer un kilométrage valide : abc-123-def" placeholder="Immatriculation" required>
      </div>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

    {% if vehicleByPlate is not null %}
      {% if vehicleByPlate is not empty %}
        <h3>Vehicule :</h3>
        <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>immatriculation</th>
                <th>informations</th>
                <th>Kilométrage</th>
            </tr>
        </thead>
        <tbody>
        {% for data in vehicleByPlate %}
            <tr>
                <td>{{ data._id }}</td>
                <td>{{ data.licence_plate }}</td>
                <td>{{ data.informations }}</td>
                <td>{{ data.km }}</td>
            </tr>
        {% endfor %}    

    </tbody>
    </table>
        {% else %}
        <p>Aucun véhicule trouvé</p>
    {% endif %}
  {% endif %}


    <br/>

    <h2>Véhicules par kilométrage</h2>
    <form method="post" action="{{ path('app_search_index') }}">
      <div class="form-group">
      <label for="km_input">Rechercher un véhicule ayant un kilométrage supérieur à celui entré</label>
      <input type="text" id ="km_input" name="km_input" class="form-control" pattern="[1-9][0-9]{0,10}" title="Veuillez entrer un kilométrage valide : Chiffres uniquements" placeholder="Km" required>
      </div>
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </form>

      {% if vehicleByKm is not null %}
      {% if vehicleByKm is not empty  %}
        <h3>Vehicules ayant un kilométrage supérieur à {{ app.request.get('km_input') }}:</h3>
        <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>immatriculation</th>
                <th>informations</th>
                <th>Kilométrage</th>
            </tr>
        </thead>
        <tbody>
        {% for data in vehicleByKm %}
            <tr>
                <td>{{ data._id }}</td>
                <td>{{ data.licence_plate }}</td>
                <td>{{ data.informations }}</td>
                <td>{{ data.km }}</td>
            </tr>
        {% endfor %}    

        </tbody>
        </table>
        {% else %}
        <p>Aucun véhicules trouvés</p>
    {% endif %}
  {% endif %}

    <br/>

    <a href="{{ path('dashboard_index') }}">Retour Menu Principal</a>

{% endblock %}
