{% extends 'base.html.twig' %}

{% block title %}Edition Vehicule{% endblock %}

{% block body %}
    <h1>Edition Vehicule</h1>
    <form method="post" class="form_mongo">
    
        <label for="id" class="form-label required">Immatriculation</label>
        <input class="form-control mb-3" type="text" name="licence_plate" value="{{ vehicle.licence_plate }}" required>

        <label for="id" class="form-label required">Informations</label>
        <input class="form-control mb-3" type="text" name=" informations" value="{{ vehicle. informations }}" required>
        
        <label for="id" class="form-label required">Kilométrage</label>
        <input class="form-control mb-3" type="text" name="km" value="{{ vehicle.km }}" required>

        <button class="btn" type="submit">Save</button>
    </form>
    {{ include('vehicle/_delete_form.html.twig') }}
    <a href="{{ path('vehicle_index') }}">Retour au menu</a>
{% endblock %}
