{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <h1>Vehicle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Identifiant unique</th>
                <td>{{ vehicle.uid }}</td>
            </tr>
            <tr>
                <th>Immatriculation du véhicule</th>
                <td>{{ vehicle.licence_plate }}</td>
            </tr>
            <tr>
                <th>Notes sur le véhicule</th>
                <td>{{ vehicle.informations }}</td>
            </tr>
            <tr>
                <th>Kilométrage du véhicule</th>
                <td>{{ vehicle.km }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_edit', {'id': vehicle._id}) }}">edit</a>

    {{ include('vehicle/_delete_form.html.twig') }}

    <a href="{{ path('vehicle_index') }}">back to list</a>

{% endblock %}
