{% extends 'base.html.twig' %}

{% block title %}Contract index{% endblock %}

{% block body %}
    <h1>Contract index</h1>
    <br/>
    
    <form method="post" action="{{ path('app_contract_index') }}" >
        <button type="submit">Reset</button>
    </form>

    <br/>    
    <br/>

    <h2>Search current contracts :</h2>
    <form method="post" action="{{ path('app_contract_index') }}" >
        <input type="hidden" name="current" value="show">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br/>

{% if currentContract %}
        <h3>current contracts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in currentContract %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if currentContract != true %}
      <h4>No contract found</h4>
    {% endif %}

    <h2>Search Late contracts :</h2>
    <form method="post" action="{{ path('app_contract_index') }}" >
        <input type="hidden" name="late" value="show">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <br/>

{% if lateContracts %}
        <h3>Late contracts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in lateContracts %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if lateContracts != true %}
      <h4>No contract found</h4>
    {% endif %}

    <br/>
    <h2>Search Unpayed contracts :</h2>
    <form method="post" action="{{ path('app_contract_index') }}" >
        <input type="hidden" name="unpayed" value="show">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    

    <br/>

{% if unpayedContracts %}
        <h3>Unpayed contracts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in unpayedContracts %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if unpayedContracts != true %}
      <h4>No contract found</h4>
    {% endif %}
    <br/>

    <h2>Search Contract by id</h2>
    <form method="post" action="{{ path('app_contract_index') }}">
        <div class="form-group">
            <label for="contract_id">Search for a contract</label>
            <input type="text" id="contract_id" name="contract_id" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if contractSelected %}
        <h3>Contract by id</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Vehicle_uid</th>
                    <th>Customer_uid</th>
                    <th>Sign_datetime</th>
                    <th>Locbegin_datetime</th>
                    <th>Locend_datetime</th>
                    <th>Returning_datetime</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for data in contractSelected %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.vehicleUid }}</td>
                        <td>{{ data.customerUid }}</td>
                        <td>{{ data.signDatetime ? data.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locbeginDatetime ? data.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.locendDatetime ? data.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.returningDatetime ? data.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ data.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if contractSelected != true %}
      <h4>No contract found</h4>
    {% endif %}

    <br/>

    <h2>Search contract's bill :</h2>
    <form method="post" action="{{ path('app_contract_index') }}">
        <div class="form-group">
            <label for="sql_id">Search for bills of a contract</label>
            <input type="text" id="sql_id" name="sql_id" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if sqlData %}
        <h3>Contract bill</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Contract_id</th>
                    <th>amount</th>

                </tr>
            </thead>
            <tbody>
                {% for data in sqlData %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.ContractId }}</td>
                        <td>{{ data.amount }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if sqlData is null %}
      <h4>No Bill found</h4>
    {% endif %}
    <br/>
    <h2>Customer List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vehicle_uid</th>
                <th>Customer_uid</th>
                <th>Sign_datetime</th>
                <th>Locbegin_datetime</th>
                <th>Locend_datetime</th>
                <th>Returning_datetime</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contract in contracts %}
            <tr>
                <td>{{ contract.id }}</td>
                <td>{{ contract.vehicleUid }}</td>
                <td>{{ contract.customerUid }}</td>
                <td>{{ contract.signDatetime ? contract.signDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.locbeginDatetime ? contract.locbeginDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.locendDatetime ? contract.locendDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.returningDatetime ? contract.returningDatetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contract.price }}</td>
                <td>
                    <a href="{{ path('app_contract_show', {'id': contract.id}) }}">show</a>
                    <a href="{{ path('app_contract_edit', {'id': contract.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contract_new') }}">Create new</a>
    <a href="{{ path('dashboard_index') }}">Back to Dashboard</a>
{% endblock %}
